* {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}
nav {
	background-color: black;
	color: aliceblue;
	padding: 1rem;
}
nav a {
    text-decoration: none;
    color: aliceblue;
}
nav .nav {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
nav .nav ul {
	display: flex;
	justify-content: space-evenly;
	list-style: none;
	width: 30%;
	margin: 0.5rem;
}
nav .nav ul li a { 
	text-decoration: none; 
	color: aliceblue;
}
.container .row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 5rem;
	padding: 1rem;
}
.row.heading {
	text-align: center;
	justify-content: center;
}
.row .btn-form-pelanggan {
	background-color: forestgreen;
	border-radius: 1rem;
	box-shadow: 0 0 3px 1px greenyellow;
	transition: .3s;
	padding: .7rem;
	text-decoration: none;
	color: aliceblue;
}
.row .btn-form-pelanggan:hover {
	background-color: greenyellow;
	box-shadow: 0 0 3px 1px forestgreen;
	color: black;
}

.form-pencarian input {
	padding: .7rem;
	border-radius: 1rem;
}
.form-pencarian .tombol-cari {
	padding: .8rem;
	border: navajowhite;
	cursor: pointer;
	border-radius: .3rem;
	background-color: cadetblue;
	color: aliceblue;
	box-shadow: 0 0 3px 1px cadetblue;
	transition: .3s;
}
.form-pencarian .tombol-cari:hover {
	background-color: rgb(22, 96, 99);
}

.row table {
	width: 100%;
	padding: 1rem;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 0 0 3px 1px black;
}
.row table th,td { padding: .27em; }
.row table .opsi { text-align: center; }
.row table td a img { width: 12pt; }

footer {
	background-color: black;
	color: aliceblue;
	padding: 1rem;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

